<!DOCTYPE html>
<html lang="en-US">
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/script.js"></script>
<link rel="stylesheet" type="text/css" href= "css/style.css" >
</head>


<body ng-app="myApp" ng-init="product.sale=false">
    <div class="main" ng-controller="MainController">
<!--       <div class="container"> -->


<div ng-repeat="product in products" class="col-md-6" > 
  <div class="thumbnail"> 

    <div id="images">
    <div id="sample">
    <div id="cover-image">
  <img ng-click="lightbox($event)" ng-src="{{ product.cover }}"/>
    </div>
      <div class="sale">
        <div id="sale-img">
          <img  ng-if="product.sale == true"  src="{{ product.saleImage }}" />
        </div>

          <div ng-if="product.editorsPick == true" class="editor"> <img src="{{ product.editor }}" /></div>
      </div>

    </div>

    </div>


   <div class="title"> <p>{{ product.name }}</p> </div> 
   <div> <p class="brand">{{ product.brand }}</p> </div>
   <div> <p class="merchant">{{ product.merchant }}</p> </div>
  

  <div id="prices">
   <div >

    <div ng-class="{'line-through': product.sale == true, '': product.sale == false}"> 
      <p>{{ product.price | currency }}</p>
    </div>
   
    <div ng-if="product.sale == true" class="no-hide">
      <p class="salePrice">{{ product.salePrice | currency }}
      </p>
    </div>
  </div>
   </div>

    <div class="rating"> 
    <p class="likes" ng-click="plusOne($index)">+ {{ product.likes }}</p>
    <p class="dislikes" ng-click="minusOne($index)">- {{ product.dislikes }}</p> 
    </div>




    </div> <!-- end of thumbnail -->

    </div> <!-- end of col-md-6 -->

    </div> <!-- end of main -->


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
</body>

  <div id="footer">
     
        <h2>Available for iPhone and Android.</h2>
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
 
    </div>

  


</html>
